<div style="display: flex;margin: 150px 100px 100px 100px;" id="lecture">
    <div class="video">
        <div class="course_title">{{course.name}}</div>
        <h3>Giáo viên: <a href="/{{teacher._id}}" id="teacher">{{teacher.name}}</a></h3>
        <h4 style="margin-bottom: 20px;">Lĩnh vực: <a href="#" id="category">{{course.category}}</a></h4>
        <video controls crossorigin playsinline poster={{course.thumbnail}} class="js-player" id="video_chapter" autoplay>
            <source src="{{url}}" type="video/mp4" />
        </video>
        <h3>{{title}}</h3>
    </div>

    <ul class="dropdowns" style="margin-left:50px; margin-top:60px;" id="chapters">
        {{#each course.chapters}}
        <li id="chapter_{{@index}}">
            <div class="dropdown_item">
                <a href="/courses/{{../course._id}}/{{@index}}"><div class="dropdown_item_title">{{this.title}}</div></a>
                <div class="dropdown_item_text">
                    <p><a href="/courses/{{../course._id}}/{{@index}}" style="text-decoration: none;"><i class="far fa-play-circle" style="margin-right: 10px;"></i>{{this.title}}</a></p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>

{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<link rel="stylesheet" type="text/css" href="/styles/course.css">
<link rel="stylesheet" type="text/css" href="/styles/course_responsive.css">
<style>
    .plyr {
        width: 980px;
        margin-bottom: 20px;
    }

    #category {
        margin-left: 10px;
        font-weight:100 !important;
        color: #384158;
    }

    #teacher {
        margin-left: 10px;
        font-weight:100 !important;
        color: #384158;
    }

    #category:hover {
        color: #14bdee;
    }

    #teacher:hover {
        color: #14bdee;
    }

    @media only screen and (max-width: 1000px) {
        #lecture {
            display: block !important;
        }

        #chapters {
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
    }

    @media only screen and (max-width: 800px) {
        #lecture {
            margin: 75px 50px 50px 50px !important;
        }
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script src="/js/course.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const player = new Plyr('.js-player');
    });

    if (!{{registered}}) {
        {{#each course.chapters}}
        if ({{@index}} > 1) {
            $(`#chapter_{{@index}}`).css('pointer-events', 'none');
        }
        {{/each}}
    }

    $('document').ready(function() {
        $('#video_chapter').prop('muted', true);
        document.getElementById('video_chapter').play();
        $('#video_chapter').prop('muted', false);
    })

    if ({{registered}}) {
        let timer;
        let saveTime;
        let video = document.getElementById('video_chapter');
        video.currentTime = {{timeSave}};
        $('#video_chapter').bind('play', function() {
            saveTime = setInterval(() => {
                let time = video.currentTime;
                $.post(`/courses/process/{{course._id}}/{{id_lecture}}/${time}`, function(data) {});
                if (video.currentTime == video.duration) {
                    clearInterval(saveTime);
                }
            },1000);
        });
    }

    {{#if registered}} 
        {{#if isEnded}}
        {{else}}
            $('#video_chapter').on('ended', function() {
                let text = "Bài tiếp theo sẽ được phát trong #1 giây nữa ...";
                let count = 5;
                timer = setInterval(() => {
                    console.log(count);
                    --count;
                    if (count >= 0) {
                        $('.swal-text').text(text.replace(/#1/, count));
                    }
                    if (count < 0) {
                        window.location = `/courses/{{course._id}}/{{nextChapter}}`;
                    }
                }, 1000);
                swal({
                    title: 'Hoàn thành bài học !',
                    text: text.replace(/#1/, count),
                    type: 'question',
                    showCancelButton: true,
                    buttons: {cancel: "Cancel", confirm: "OK"},
                }).then(result => {
                    if (result)
                        window.location = `/courses/{{course._id}}/{{nextChapter}}`;
                    else {
                        //count = 5;
                        clearInterval(timer);
                    }
                });
            });
        {{/if}}
    {{else}}
        let nextChapter = {{nextChapter}};
        if (nextChapter < 2) {
            $('#video_chapter').on('ended', function() {
                let text = "Bài tiếp theo sẽ được phát trong #1 giây nữa ...";
                let count = 5;
                timer = setInterval(() => {
                    --count;
                    if (count >= 0) {
                        $('.swal-text').text(text.replace(/#1/, count));
                    }
                    if (count < 0) {
                        window.location = `/courses/{{course._id}}/{{nextChapter}}`;
                    }
                }, 1000);
                swal({
                    title: 'Hoàn thành bài học !',
                    text: text.replace(/#1/, count),
                    type: 'question',
                    showCancelButton: true,
                    buttons: {cancel: "Cancel", confirm: "OK"},
                }).then(result => {
                    if (result)
                        window.location = `/courses/{{course._id}}/{{nextChapter}}`;
                    else {
                        clearInterval(timer);
                    }
                });
            });
        } else if (nextChapter == 2) {
            $('#video_chapter').on('ended', function() {
                swal({
                    title: "Đã xem hết video miễn phí !",
                    text: "Bạn cần đăng ký khóa học để xem phần còn lại.",
                    icon: "warning",
                    buttons: true,
                    showCancelButton: false,
                }).then((accept) => {
                    if (accept) {
                        window.location = `/courses/{{course._id}}`;
                    }
                });
            });
        } else {
            window.location = `/courses/{{course._id}}`;
        }
    {{/if}}
</script>
{{/section}}