<div class="course">
    <div class="container">
        <div class="row">

            <!-- Course -->
            <div class="col-lg-8">

                <div class="course_container">
                    <div class="course_title">{{course.name}}</div>
                    <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Giáo viên:</div>
                            <div class="course_info_text"><a href="#teacher-info">{{teacher.name}}</a></div>
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Đánh giá:</div>
                            <div class="div_rating">
                                <input type="radio" name="example" class="rating" value="1" id=""/>
                                <input type="radio" name="example" class="rating" value="2" />
                                <input type="radio" name="example" class="rating" value="3" />
                                <input type="radio" name="example" class="rating" value="4" />
                                <input type="radio" name="example" class="rating" value="5" />
                            </div>
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Lĩnh vực:</div>
                            <div class="course_info_text"><a href="/category/{{course.category}}">{{course.category}}</a></div>
                        </div>

                    </div>

                    <!-- Course Image -->
                    <div class="course_image"><img src={{course.thumbnail}} alt=""></div>

                    <!-- Course Tabs -->
                    <div class="course_tabs_container">
                        <div class="tabs d-flex flex-row align-items-center justify-content-start">
                            <div class="tab active">Giới thiệu</div>
                            <div class="tab">Nội dung khóa học</div>
                            <div class="tab">Đánh giá và nhận xét</div>
                        </div>
                        <div class="tab_panels">

                            <!-- Description -->
                            <div id="teacher-info" class="tab_panel active">
                                <div class="tab_panel_title">Giảng Viên</div>
                                <div class="tab_panel_content" style="display: flex;margin-top: 10px">
                                    <img src="/images/user_avatar/student.png" alt="" style="width: 150px">
                                    <div class="info_teacher">
                                        <span class="tab_panel_subtitle">{{teacher.name}}</span>
                                        <div class="row_info"><i class="fas fa-birthday-cake icon_info"></i><p style="color: #3c3b37;" id="tc_bthday"></p></div>
                                        <div class="row_info"><i class="fas fa-envelope icon_info"></i><p style="color: #3c3b37;">{{teacher.email}}</p></div>
                                        <div class="row_info"><i class="fas fa-play-circle icon_info"></i><p style="color: #3c3b37;">{{teacher.numCourse}}</p></div>
                                        <div class="row_info"><i class="fas fa-phone icon_info"></i><p style="color: #3c3b37;">{{teacher.phone}}</p></div>
                                    </div>
                                </div>
                                <div class="tab_panel_text" style=" margin-bottom: 30px; ">
                                    <p>Hiện tại đang l&agrave; Gi&aacute;m Đốc Điều H&agrave;nh Navigos Search thuộc tập đo&agrave;n Navigos<br />Hơn 25 năm kinh nghiệm, trong đ&oacute; c&oacute; 20 năm trong lĩnh vực ph&aacute;t triển kinh doanh v&agrave; điều h&agrave;nh doanh nghiệp với gần 10 năm trong lĩnh vực Nh&acirc;n sự. <br />Trước khi gia nhập Navigos, chị đươc biết đến với c&aacute;c vai tr&ograve;:<br />Trưởng văn ph&ograve;ng đại diện đầu ti&ecirc;n tại Việt Nam của Hiệp hội kế to&aacute;n c&ocirc;ng chứng Anh Quốc ACCA<br />Gi&aacute;m đốc ph&aacute;t triển kinh doanh của Deloitte Việt Nam<br />Tổng gi&aacute;m đốc của eSillicon Việt Nam</p>
                                </div>

                                <div class="tab_panel_title">{{course.name}}</div>
                                <div class="tab_panel_content">
                                    <div class="tab_panel_text" id="description" style="font-size: 16px;">
                                        {{{course.description}}}
                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">Yêu cầu</div>
                                        <ul class="tab_panel_bullets">
                                            {{{course.require}}}
                                        </ul>
                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">Sau khi hoàn thành khóa học</div>
                                        <div class="tab_panel_text">
                                            <p>{{course.purpose}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Curriculum -->
                            <div class="tab_panel tab_panel_2">
                                <div class="tab_panel_content">
                                    <div class="tab_panel_title">{{course.name}}</div>
                                    <div class="tab_panel_content">
                                        <!-- Dropdowns -->
                                        <ul class="dropdowns">
                                            {{#each course.chapters}}
                                            <li id="chapter_{{@index}}">
                                                <div class="dropdown_item">
                                                    <a href="/courses/{{../course._id}}/{{@index}}"><div class="dropdown_item_title">{{this.title}}</div></a>
                                                    <div class="dropdown_item_text">
                                                        <p><a href="/courses/{{../course._id}}/{{@index}}" style="text-decoration: none;"><i class="far fa-play-circle" style="margin-right: 10px;"></i>{{this.title}}</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Reviews -->
                            <div class="tab_panel tab_panel_3">
                                <div class="tab_panel_title">Đánh giá và nhận xét</div>

                                <!-- Rating -->
                                <div class="review_rating_container">
                                    <div class="review_rating">
                                        <div class="review_rating_num">{{courseRate}}</div>
                                        <div class="review_rating_stars">
                                            <div class="div_none_rate">
                                                <input type="radio" name="example" class="rating" value="1" id="" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="2" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="3" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="4" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="5" style="display: none;">
                                                <div class="stars">
                                                    <a class="star none_rate" id="rate_1" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_2" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_3" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_4" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_5" style="pointer-events: none;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_rating_text">({{totalRate}} Ratings)</div>
                                    </div>
                                    <div class="review_rating_bars">
                                        <ul id="list_rate"></ul>
                                    </div>
                                </div>

                                <!-- Comments -->

                                {{#ifEquals session.user.userType "Student"}}
                                    <div class="comments_container">
                                        <ul class="comments_list"></ul>
                                        <div class="add_comment_container">
                                            <div class="add_comment_title">Nhận xét</div>
                                        </div>

                                        {{#if session.user}}
                                            {{#if registered}}
                                                <form action="/courses/comment/{{course._id}}" method="post">
                                                    <textarea class="form-control" name="comment" placeholder="Nhập comment ..." required></textarea>
                                                    <button type="submit" class="btn btn-success submit_comment" style="margin-top: 10px;">Nhận xét</button>
                                                </form>
                                            {{else}}
                                                <div class="add_comment_text">Bạn phải <a href="/courses/register/{{course._id}}">đăng ký</a> khóa học để có thể nhận xét.</div>
                                            {{/if}}
                                        {{else}}
                                            <div class="add_comment_text">Bạn phải <a href="/login">đăng nhập</a> để có thể nhận xét.</div>
                                        {{/if}}
                                    </div>
                                {{else}}
                                    <div class="comments_container">
                                        <ul class="comments_list"></ul>
                                    </div>
                                {{/ifEquals}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Feature -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Thông tin</div>
                        <div class="sidebar_feature">
                            <div class="course_price" style="font-size: 40px;">$ {{course.price}}</div>

                            <!-- Features -->
                            <div class="feature_list">

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-clock"></i><span>Thời gian</span></div>
                                    <div class="feature_text ml-auto">{{course.chapters.length}}</div>
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Số bài học</span></div>
                                    <div class="feature_text ml-auto">{{course.chapters.length}}</div>
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-user-graduate"></i><span>Học viên</span></div>
                                    <div class="feature_text ml-auto">{{course.students}}</div>
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-eye"></i><span>Lượt xem</span></div>
                                    <div class="feature_text ml-auto">{{course.views}}</div>
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-tasks"></i><span>Trạng thái</span></div>
                                    {{#if course.isFinished}}
                                        <div class="feature_text ml-auto">Đã hoàn chỉnh</div>
                                    {{else}}
                                        <div class="feature_text ml-auto">Đang cập nhật</div>
                                    {{/if}}
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-pen"></i><span>Lần cập nhật cuối</span></div>
                                    <div class="feature_text ml-auto lastModified">{{course.lastModified}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar_section" id="register_button">
                        {{#ifEquals session.user.userType "Student"}}
                            {{#if registered}}
                                <div class="row">
                                    <button class="btn btn-warning btn-lg col-10 watch" style="width:100%; margin-right:10px;">Xem khóa học</button>
                                    <button class="btn btn-danger addToWL"><i class="fas fa-heart"></i></button>
                                </div>
                                
                                {{else}}
                                <div class="row">
                                    <button class="btn btn-warning btn-lg register" style="width: 80%; margin-right: 10px;">Đăng ký</button>
                                    <button class="btn btn-danger addToWL" style="width: 15%;"><i class="fas fa-heart"></i></button>
                                    <button id="addToCart" class="btn btn-outline-success btn-lg cl-12 {{course._id}}" style="width:100%; margin-top:10px">Thêm vào giỏ</button>
                                </div>
                            {{/if}}
                        {{/ifEquals}}
                    </div>

                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Khóa học cùng lĩnh vực</div>
                        <div class="sidebar_latest sameCourses">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="newsletter_background" style="background-image:url(/images/newsletter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/course.css">
<link rel="stylesheet" type="text/css" href="/styles/course_responsive.css">
<style>
    @media only screen and (max-width: 1000px) {
        .register {
            width: 83% !important;
        }
    }
</style>
{{/section}}

{{#section 'js'}}
<script src="/js/course.js"></script>
<script src="/js/animation_addCart.js"></script>
<script>

    $('document').ready(function() {
        if ({{registered}}) {
            for (let i = 1; i <= {{rate}}; i++) {
                $(`a[title|='${i}']`).addClass('fullStar');
            }
        } else {
            for (let i = 1; i <= {{courseRate}}; i++) {
            $(`a[title|='${i}']`).addClass('fullStar');
            }
        }
    });

    {{#each session.coursesInCart}}
        $('.{{this._id}}').replaceWith(`<button id="removeFromCart" class="btn btn-outline-success btn-lg cl-12 {{course_id}}" style="width:100%; margin-top:10px">Xóa khỏi giỏ</button>`);
    {{/each}}

    $('body').on('click', '#addToCart', function () {
        $(this).replaceWith(`<button id="removeFromCart" class="btn btn-outline-success btn-lg cl-12 {{course_id}}" style="width:100%; margin-top:10px">Xóa khỏi giỏ</button>`)
        $.get(`/courses/addTocart/{{course._id}}`, function (data, status) {
            let cart = '';
            total_price = 0;
            price = 0;
            if (`${data}`) {
                let count_length = data.length;
                for (let i = 0; i < data.length; i++) {
                    price = data[i].saleOff || data[i].price;
                    cart += `<a href="/courses/${data[i]._id}"><button class="dropdown-item" type="button">
                                <div class="col-12" style="display:flex; padding-left:0px !important; padding-right: 40px;">
                                    <img class="col-3" style="padding-left:0px; padding-right:0px; width: 100px !important; max-width: none !important;" src="${data[i].thumbnail}" alt="">
                                    <div class="col-9" style="display: block;">
                                        <h5 style="margin-bottom: 0px !important;">${data[i].name}</h5>
                                        <p style="color:#17a2b8">Giá :$${price}</p>
                                    </div>
                                </div>
                            </button></a>`
                    total_price += price;
                }
                cart += `<p class="total_price">Tổng tiền: $${total_price}</p>`
                cart += `<button class="dropdown-item btn btn-danger mx-auto col-4 text-center pay" type="button" style="background-color: #bd2130; color: #fff; padding: 7px 7px;">Thanh toán</button>`;
                $('.cart').html(cart);
                $('#lblCartCount').text(count_length);
            } else {
                $('.cart').html('<p style="text-align: center;">Giỏ hàng đang trống</p>');
                $('#lblCartCount').text(0);
            }
        });
    });

    $('body').on('click', '#removeFromCart', function () {
        $(this).replaceWith(`<button id="addToCart" class="btn btn-outline-success btn-lg cl-12 {{course_id}}" style="width:100%; margin-top:10px">Thêm vào giỏ</button>`)
        $.get(`/courses/removeFromCart/{{course._id}}`, function (data, status) {
            $('.shopping_cart').effect("shake", {distance: 7});
            let cart = '';
            total_price = 0;
            if (`${data}`) {
                let count_length = data.length;
                for (let i = 0; i < data.length; i++) {
                    price = data[i].saleOff || data[i].price;
                    cart += `<a href="/courses/${data[i]._id}">
                    <button class="dropdown-item" type="button">
                        <div class="col-12" style="display:flex; padding-left:0px !important; padding-right: 40px;">
                            <img class="col-3" style="padding-left:0px; padding-right:0px; width: 100px !important; max-width: none !important;" src="${data[i].thumbnail}" alt="">
                            <div class="col-9" style="display: block;">
                                <h5 style="margin-bottom: 0px !important;">${data[i].name}</h5>
                                <p style="color:#17a2b8">Giá : $${price}</p>
                            </div>
                        </div>
                    </button>
                    </a>`
                    total_price += price;
                }
                cart += `<p class="total_price">Tổng tiền: $${total_price}</p>`
                cart += `<button class="dropdown-item btn btn-danger mx-auto col-4 text-center pay" type="button" style="background-color: #bd2130; color: #fff; padding: 7px 7px;">Thanh toán</button>`;
                $('.cart').html(cart);
                $('#lblCartCount').text(count_length);
            } else {
                $('.cart').html('<p style="text-align: center;">Giỏ hàng đang trống</p>');
                $('#lblCartCount').text(0);
            }
        });
    });

    for (let i = 1; i <= {{courseRate}}; i++) {
        $(`#rate_${i}`).addClass('fullStar');
    }

    $('.div_rating').rating(function(vote, event) {
        if ({{registered}}) {
            $.get(`/courses/rate/{{course._id}}/${vote}`, function(data, status) {
                swal("Thành công!", data, "success");
            });
        }
    });

    let listRate = '';
    let num = 0;
    let percent = 0;
    let totalRate = {{totalRate}};
    {{#each course.rate}}
        num = {{@index}} + 1;
        percent = ({{this}}/ totalRate) * 100;
        percent = percent || 0;
        listRate += `<li><span>${num} Sao</span>
            <div class="review_rating_bar">
                <div style="width:${percent}%;"></div>
            </div>
        </li>`
    {{/each}}

    $('#list_rate').html(listRate);

    if (!{{registered}}) {
        {{#each course.chapters}}
        if ({{@index}} > 1) {
            $(`#chapter_{{@index}}`).css('pointer-events', 'none');
        }
        {{/each}}

        $('.div_rating').css('pointer-events', 'none');
    }

    $('body').on('click','.watch', function() {
        if ("{{course.chapters}}") {
            window.location = `/courses/{{course._id}}/{{currentChapter}}`;
        } else {
            swal({
                title: "Sorry !",
                text: "Khóa học chưa được bổ sung nội dung !",
                icon: "warning",
                dangerMode: true,
            });
        }
    });

    $('body').on('click', '.pay', function() {
        {{#if session.user}} 
        swal({
            title: "Bạn có chắc muốn đăng ký tất cả các khóa học giỏ?",
            text: `Tổng số tiền của các khóa học trong giỏ là $${total_price}!`,
            icon: "warning",
            buttons: true,
        }).then((accept) => {
            if (accept) {
                window.location = '/courses/registerAllCourses';
            }
        });
        {{else}}
        window.location = '/login';
        {{/if}}
    });

    $('body').on('click', '.addToWL', function() {
        {{#if session.user}}
            $.get('/courses/addToWatchList/{{course._id}}', function(data) {
                if (data == true) {
                    swal("Thành công!", "Khóa học đã được thêm vào watchlist!", "success");
                } else {
                    swal({
                        title: "Sorry !",
                        text: "Khóa học đã tồn tại trong watchlist rồi bạn nhé !",
                        icon: "warning",
                        dangerMode: true,
                    });
                }
            });
        {{else}}
            window.location = '/login';
        {{/if}}
        
    });

    $('body').on('click', '.register', function() {
        window.location = `/courses/register/{{course._id}}`;
    });

    function convert(str) {
    var date = new Date(str),
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + date.getDate()).slice(-2);
    return [date.getFullYear(), mnth, day].join("-");
    }

    let tc_bthday = convert("{{teacher.bthday}}");
    $('#tc_bthday').text(tc_bthday);

    let content = '';
    let tag_star = '';
    let r = 0;
    let date = new Date();
    {{#each comments}}
        tag_star = '';
        date = "{{this.content.time}}";
        date = convert(date);
        r = {{this.rate}};
        for (let i = 0; i < r; i++) 
            tag_star += `<a class="star none_rate fullStar" style="pointer-events: none;"></a>`;
        for (let i = r; i < 5; i++) 
            tag_star += `<a class="star none_rate" style="pointer-events: none;"></a>`;
        content += `<li>
            <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                <div class="comment_image">
                    <div><img src="/images/user_avatar/student.png" alt=""></div>
                </div>
                <div class="comment_content">
                    <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                        <div class="comment_author"><a href="#">{{this.name}}</a></div>
                        
                        <div class="comment_time ml-auto">${date}</div>
                    </div>
                    <div class="comment_text">
                        <div class="comment_rating">
                            <div class="rate-comment">
                                <input type="radio" name="example" class="rating" value="1" id="" style="display: none;">
                                <input type="radio" name="example" class="rating" value="2" style="display: none;">
                                <input type="radio" name="example" class="rating" value="3" style="display: none;">
                                <input type="radio" name="example" class="rating" value="4" style="display: none;">
                                <input type="radio" name="example" class="rating" value="5" style="display: none;">
                                <div class="stars">
                                    ${tag_star}
                                </div>
                            </div>
                        </div>
                        <p>{{this.content.content}}</p>
                    </div>
                </div>
            </div>
        </li>`
    {{/each}}

    $('.lastModified').text(convert(`{{course.lastModified}}`))

    $('.comments_list').html(content);

    {{#if course.saleOff}} 
        price = {{course.saleOff}} || {{course.price}};
        $('.course_price').html(`$${price} <span style="margin-left=20px; font-size: 24px; margin-right: 0px; color: #a5a5a5; text-decoration: line-through;">${{course.price}}</span>`);
    {{/if}}
    let course = "";
    price = 0;
    {{#each sameCourses}}
        price = 0;
        price = {{this.saleOff}} || {{this.price}};
        if ({{this.saleOff}}) price = price + `<span style="font-size:14px; margin-left:5px; text-decoration: line-through; color:#a5a5a5">${{this.price}}</span>`;
        else price = {{this.price}}
        course += `<div class="latest d-flex flex-row align-items-start justify-content-start" style="border-bottom: 1px solid #76777a61; padding-bottom:10px;">
            <div class="latest_image">
                <div><a href="/courses/{{this._id}}"><img src="{{this.thumbnail}}" alt=""></a></div>
            </div>
            <div class="latest_content">
                <div class="latest_title"><a href="/courses/{{this._id}}">{{this.name}}</a></div>
                <div class="latest_price" >$${price}</div>
            </div>
        </div>`
    {{/each}}

    $('.sameCourses').html(course);
</script>
{{/section}}