<div class="course">
    <div class="container">
        <div class="row">

            <!-- Course -->
            <div class="col-lg-8">

                <div class="course_container">
                    <div class="course_title">{{course.name}}</div>
                    <div class="course_info d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Giáo viên:</div>
                            <div class="course_info_text"><a href="#">Lê Thành Việt</a></div>
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Đánh giá:</div>
                            <div class="div_rating">
                                <input type="radio" name="example" class="rating" value="1" id=""/>
                                <input type="radio" name="example" class="rating" value="2" />
                                <input type="radio" name="example" class="rating" value="3" />
                                <input type="radio" name="example" class="rating" value="4" />
                                <input type="radio" name="example" class="rating" value="5" />
                            </div>
                        </div>

                        <!-- Course Info Item -->
                        <div class="course_info_item">
                            <div class="course_info_title">Lĩnh vực:</div>
                            <div class="course_info_text"><a href="/category/{{course.category}}">{{course.category}}</a></div>
                        </div>

                    </div>

                    <!-- Course Image -->
                    <div class="course_image"><img src={{course.thumbnail}} alt=""></div>

                    <!-- Course Tabs -->
                    <div class="course_tabs_container">
                        <div class="tabs d-flex flex-row align-items-center justify-content-start">
                            <div class="tab active">Mô tả</div>
                            <div class="tab">Nội dung khóa học</div>
                            <div class="tab">Đánh giá và nhận xét</div>
                        </div>
                        <div class="tab_panels">

                            <!-- Description -->
                            <div class="tab_panel active">
                                <div class="tab_panel_title">{{course.name}}</div>
                                <div class="tab_panel_content">
                                    <div class="tab_panel_text">
                                        <p>{{course.description}}</p>
                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">Yêu cầu</div>
                                        <ul class="tab_panel_bullets">
                                            {{#each course.commands}}
                                            <li>{{this}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                    <div class="tab_panel_section">
                                        <div class="tab_panel_subtitle">Sau khi hoàn thành khóa học</div>
                                        <div class="tab_panel_text">
                                            <p>{{course.target}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Curriculum -->
                            <div class="tab_panel tab_panel_2">
                                <div class="tab_panel_content">
                                    <div class="tab_panel_title">{{course.name}}</div>
                                    <div class="tab_panel_content">
                                        <!-- Dropdowns -->
                                        <ul class="dropdowns">
                                            {{#each course.chapters}}
                                            <li id="chapter_{{@index}}">
                                                <div class="dropdown_item">
                                                    <a href="/courses/{{../course._id}}/{{@index}}"><div class="dropdown_item_title">{{this.title}}</div></a>
                                                    <div class="dropdown_item_text">
                                                        <p><a href="/courses/{{../course._id}}/{{@index}}" style="text-decoration: none;"><i class="far fa-play-circle" style="margin-right: 10px;"></i>{{this.title}}</a></p>
                                                    </div>
                                                </div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Reviews -->
                            <div class="tab_panel tab_panel_3">
                                <div class="tab_panel_title">Đánh giá và nhận xét</div>

                                <!-- Rating -->
                                <div class="review_rating_container">
                                    <div class="review_rating">
                                        <div class="review_rating_num">{{courseRate}}</div>
                                        <div class="review_rating_stars">
                                            <div class="div_none_rate">
                                                <input type="radio" name="example" class="rating" value="1" id="" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="2" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="3" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="4" style="display: none;">
                                                <input type="radio" name="example" class="rating" value="5" style="display: none;">
                                                <div class="stars">
                                                    <a class="star none_rate" id="rate_1" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_2" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_3" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_4" style="pointer-events: none;"></a>
                                                    <a class="star none_rate" id="rate_5" style="pointer-events: none;"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_rating_text">({{totalRate}} Ratings)</div>
                                    </div>
                                    <div class="review_rating_bars">
                                        <ul id="list_rate"></ul>
                                    </div>
                                </div>

                                <!-- Comments -->
                                <div class="comments_container">
                                    <ul class="comments_list">
                                        <li>
                                            <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                <div class="comment_image">
                                                    <div><img src="/images/comment_1.jpg" alt=""></div>
                                                </div>
                                                <div class="comment_content">
                                                    <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                        <div class="comment_author"><a href="#">Milley Cyrus</a></div>
                                                        <div class="comment_rating">
                                                            <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                                                        </div>
                                                        <div class="comment_time ml-auto">1 day ago</div>
                                                    </div>
                                                    <div class="comment_text">
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.</p>
                                                    </div>
                                                    <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                        <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
                                                        <div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                        <div class="comment_image">
                                                            <div><img src="/images/comment_2.jpg" alt=""></div>
                                                        </div>
                                                        <div class="comment_content">
                                                            <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                                <div class="comment_author"><a href="#">John Tyler</a></div>
                                                                <div class="comment_rating">
                                                                    <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                                                                </div>
                                                                <div class="comment_time ml-auto">1 day ago</div>
                                                            </div>
                                                            <div class="comment_text">
                                                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.
                                                                </p>
                                                            </div>
                                                            <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                                <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
                                                                <div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="comment_item d-flex flex-row align-items-start jutify-content-start">
                                                <div class="comment_image">
                                                    <div><img src="/images/comment_3.jpg" alt=""></div>
                                                </div>
                                                <div class="comment_content">
                                                    <div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
                                                        <div class="comment_author"><a href="#">Milley Cyrus</a></div>
                                                        <div class="comment_rating">
                                                            <div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
                                                        </div>
                                                        <div class="comment_time ml-auto">1 day ago</div>
                                                    </div>
                                                    <div class="comment_text">
                                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.</p>
                                                    </div>
                                                    <div class="comment_extras d-flex flex-row align-items-center justify-content-start">
                                                        <div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
                                                        <div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add_comment_container">
                                        <div class="add_comment_title">Add a review</div>
                                        <div class="add_comment_text">You must be <a href="#">logged</a> in to post a comment.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Course Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Feature -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Thông tin</div>
                        <div class="sidebar_feature">
                            <div class="course_price">$ {{course.price}}</div>

                            <!-- Features -->
                            <div class="feature_list">

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fas fa-clock"></i><span>Thời gian:</span></div>
                                    <div class="feature_text ml-auto">2 tuần</div>
                                </div>

                                <!-- Feature -->
                                <div class="feature d-flex flex-row align-items-center justify-content-start">
                                    <div class="feature_title"><i class="fa fa-list-alt" aria-hidden="true"></i><span>Số bài học:</span></div>
                                    <div class="feature_text ml-auto">10</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar_section" id="register_button">
                        {{#if registered}}
                        <div class="row">
                            <a href="/courses/{{course._id}}/0" style="width: 100%;"><button class="btn btn-danger btn-lg cl-12" style="width:100%;">Xem khóa học</button></a>
                        </div>
                        
                        {{else}}
                        <div class="row">
                            <a href="/courses/register/{{course._id}}" style="width: 100%;"><button class="btn btn-danger btn-lg cl-12" style="width:100%;">Đăng ký</button></a>
                            <a href="#" style="width: 100%;"><button class="btn btn-outline-success btn-lg cl-12" style="width:100%; margin-top:10px">Thêm vào giỏ</button></a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="newsletter_background" style="background-image:url(/images/newsletter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/course.css">
<link rel="stylesheet" type="text/css" href="/styles/course_responsive.css">
{{/section}}

{{#section 'js'}}
<script src="/js/course.js"></script>
<script>

    $('document').ready(function() {
        if ({{registered}}) {
            for (let i = 1; i <= {{rate}}; i++) {
                $(`a[title|='${i}']`).addClass('fullStar');
            }
        } else {
            for (let i = 1; i <= {{courseRate}}; i++) {
            $(`a[title|='${i}']`).addClass('fullStar');
            }
        }
    });

    for (let i = 1; i <= {{courseRate}}; i++) {
        $(`#rate_${i}`).addClass('fullStar');
    }

    $('.div_rating').rating(function(vote, event) {
        if ({{registered}}) {
            $.get(`/courses/rate/{{course._id}}/${vote}`, function(data, status) {
                alert(data);
            });
        }
    });

    let listRate = '';
    let num = 0;
    let percent = 0;
    let totalRate = {{totalRate}};
    {{#each course.rate}}
        num = {{@index}} + 1;
        percent = ({{this}}/ totalRate) * 100;
        console.log(typeof totalRate);
        percent = percent || 0;
        listRate += `<li><span>${num} Sao</span>
            <div class="review_rating_bar">
                <div style="width:${percent}%;"></div>
            </div>
        </li>`
    {{/each}}

    $('#list_rate').html(listRate);

    if (!{{registered}}) {
        {{#each course.chapters}}
        if ({{@index}} > 1) {
            $(`#chapter_{{@index}}`).css('pointer-events', 'none');
        }
        {{/each}}
    }
</script>
{{/section}}