<!-- Courses -->

<div class="courses">
    <div class="container">
        {{#if title}}
        <h3 class="mb-2">{{title}}</h3>
        {{/if}}
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <form action="#" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input type="search" class="courses_search_input" placeholder="Search Courses" required="required">
                        <select id="courses_search_select" class="courses_search_select courses_search_input">
                            <option>Tất cả lĩnh vực</option>
                            <option>Lập trình Web</option>
                            <option>Lập trình Mobile</option>
                        </select>

                        <select id="courses_search_select" class="courses_search_select courses_search_input option-item">
                            <option >Sắp xếp</option>
                            <option value="rateInc">Điểm đánh giá tăng dần</option>
                            <option value="rateDes">Điểm đánh giá giảm dần</option>
                            <option value="priceDes">Giá giảm dần</option>
                            <option value="priceInc">Giá tăng dần</option>
                        </select>
                        <button action="submit" class="courses_search_button ml-auto">Tìm kiếm</button>
                    </form>
                </div>
                <div class="courses_container">
                    <div class="row courses_row"></div>
                    <div class="row pagination_row">
                        <div class="col">
                            <div class="pagination_container d-flex flex-row align-items-center justify-content-start">
                                <ul id="pagination_list"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Courses Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">

                    <!-- Categories -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Chủ đề</div>
                        <div class="sidebar_categories">
                            <ul>
                                {{#each session.categories}}
                                    {{#if this.subCategory}}
                                        {{#each this.subCategory}}
                                            <li style="display: flex; align-items: center;"><i class="fas fa-angle-double-right" style="margin-right: 10px;"></i><a href="/category/{{this.name}}">{{this.name}}</a></li>
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>

                    <!-- Latest Course -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Mới nhất</div>
                        <div class="sidebar_latest newestCourses"></div>
                    </div>

                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Nhiều học viên nhất</div>
                        <div class="sidebar_latest mostCourses"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="newsletter_background parallax-window" data-parallax="scroll" data-image-src="/images/newsletter.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_container d-flex flex-lg-row flex-column align-items-center justify-content-start">

                    <!-- Newsletter Content -->
                    <div class="newsletter_content text-lg-left text-center">
                        <div class="newsletter_title">sign up for news and offers</div>
                        <div class="newsletter_subtitle">Subcribe to lastest smartphones news & great deals we offer</div>
                    </div>

                    <!-- Newsletter Form -->
                    <div class="newsletter_form_container ml-lg-auto">
                        <form action="#" id="newsletter_form" class="newsletter_form d-flex flex-row align-items-center justify-content-center">
                            <input type="email" class="newsletter_input" placeholder="Your Email" required="required">
                            <button type="submit" class="newsletter_button">subscribe</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/courses.css">
<link rel="stylesheet" type="text/css" href="/styles/courses_responsive.css">
{{/section}}

{{#section 'js'}}
<script src="/js/courses.js"></script>
<script>
    let courses = [];
    let content = '';
    let length = 0;
    let sumRate = 0;
    let saleOffPrice = 0;
    let special = "";
    {{#each allCourses }}
        special = "";
        sumRate = 0;
        saleOffPrice = 0;
        {{#each this.rate}}
            sumRate += {{this}};
        {{/each}}
        saleOffPrice = {{this.saleOff}} || {{this.price}};

        if ({{this.saleOff}}) {
            saleOffPrice = saleOffPrice + `<span style="font-size:16px; margin-left:5px;">${{this.price}}</span>`;
        } else saleOffPrice = {{this.price}}

        if (`{{this.isBestseller}}`) special = `<span class="badge badge-warning" style="font-size: 18px; padding: 5px 10px;">Bestseller</span>`;
        else if (`{{this.isNewest}}`) special = `<span class="badge badge-success" style="font-size: 18px; padding: 5px 10px;">Newest</span>`;

    courses.push(`<div class="col-lg-6 course_col">
            <div class="course">
                <div class="course_image"><a href="/courses/{{this._id}}"><img style="width: 345px;" src="{{this.thumbnail}}" alt=""></a></div>
                <div class="course_body">
                    <h3 class="course_title"><a href="/courses/{{this._id}}">{{this.name}}</a></h3>
                    <div class="course_teacher">{{this.teacherName}}</div>
                    <div>${special}</div>
                    <div class="course_text">
                        <p>{{this.briefDes}}</p>
                    </div>
                </div>
                <div class="course_footer">
                    <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                        <div class="course_info">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                            <span id="info_{{@index}}">{{this.students}} Học viên</span>
                        </div>
                        <div class="course_info">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span>${sumRate} Rates</span>
                        </div>
                        <div class="course_price ml-auto">$${saleOffPrice}</div>
                    </div>
                </div>
            </div>
        </div>`);
    {{/each}}
    let coursePerPage = 6;
    length = Math.ceil(courses.length / coursePerPage);
    $('#pagination_list').twbsPagination({
        totalPages: length,
        visiblePages: 5,
        first: 'Trang đầu',
        prev: 'Trước',
        next: 'Sau',
        last: 'Trang cuối',
        onPageClick: function (event, page) {
            content = '';
            for (let i = (page - 1) * coursePerPage; i < courses.length && i < (page - 1) * coursePerPage + coursePerPage; i++) {
                content += courses[i];
            }
            $('.courses_row').html(content);
        }
    });

    $('.option-item').on('change', function(e) {
        courses = [];
        content = '';
        length = 0;
        sumRate = 0;
        saleOffPrice = 0;
        special = "";
        if (e.currentTarget.value == 'rateInc') {
            {{#each rateInc }}
                special = "";
                sumRate = 0;
                saleOffPrice = 0;
                {{#each this.rate}}
                    sumRate += {{this}};
                {{/each}}
                saleOffPrice = {{this.saleOff}} || {{this.price}};

                if ({{this.saleOff}}) {
                    saleOffPrice = saleOffPrice + `<span style="font-size:16px; margin-left:5px;">${{this.price}}</span>`;
                } else saleOffPrice = {{this.price}}

                if (`{{this.isBestseller}}`) special = `<span class="badge badge-warning" style="font-size: 18px; padding: 5px 10px;">Bestseller</span>`;
                else if (`{{this.isNewest}}`) special = `<span class="badge badge-success" style="font-size: 18px; padding: 5px 10px;">Newest</span>`;

            courses.push(`<div class="col-lg-6 course_col">
                    <div class="course">
                        <div class="course_image"><a href="/courses/{{this._id}}"><img style="width: 345px;" src="{{this.thumbnail}}" alt=""></a></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/courses/{{this._id}}">{{this.name}}</a></h3>
                            <div class="course_teacher">{{this.teacherName}}</div>
                            <div>${special}</div>
                            <div class="course_text">
                                <p>{{this.briefDes}}</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span id="info_{{@index}}">{{this.students}} Học viên</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>${sumRate} Rates</span>
                                </div>
                                <div class="course_price ml-auto">$${saleOffPrice}</div>
                            </div>
                        </div>
                    </div>
                </div>`);
            {{/each}}
        } else if (e.currentTarget.value == 'rateDes') {
            {{#each rateDes }}
                special = "";
                sumRate = 0;
                saleOffPrice = 0;
                {{#each this.rate}}
                    sumRate += {{this}};
                {{/each}}
                saleOffPrice = {{this.saleOff}} || {{this.price}};

                if ({{this.saleOff}}) {
                    saleOffPrice = saleOffPrice + `<span style="font-size:16px; margin-left:5px;">${{this.price}}</span>`;
                } else saleOffPrice = {{this.price}}

                if (`{{this.isBestseller}}`) special = `<span class="badge badge-warning" style="font-size: 18px; padding: 5px 10px;">Bestseller</span>`;
                else if (`{{this.isNewest}}`) special = `<span class="badge badge-success" style="font-size: 18px; padding: 5px 10px;">Newest</span>`;

            courses.push(`<div class="col-lg-6 course_col">
                    <div class="course">
                        <div class="course_image"><a href="/courses/{{this._id}}"><img style="width: 345px;" src="{{this.thumbnail}}" alt=""></a></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/courses/{{this._id}}">{{this.name}}</a></h3>
                            <div class="course_teacher">{{this.teacherName}}</div>
                            <div>${special}</div>
                            <div class="course_text">
                                <p>{{this.briefDes}}</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span id="info_{{@index}}">{{this.students}} Học viên</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>${sumRate} Rates</span>
                                </div>
                                <div class="course_price ml-auto">$${saleOffPrice}</div>
                            </div>
                        </div>
                    </div>
                </div>`);
            {{/each}}

        } else if (e.currentTarget.value == 'priceInc') {
            {{#each priceInc }}
                special = "";
                sumRate = 0;
                saleOffPrice = 0;
                {{#each this.rate}}
                    sumRate += {{this}};
                {{/each}}
                saleOffPrice = {{this.saleOff}} || {{this.price}};

                if ({{this.saleOff}}) {
                    saleOffPrice = saleOffPrice + `<span style="font-size:16px; margin-left:5px;">${{this.price}}</span>`;
                } else saleOffPrice = {{this.price}}

                if (`{{this.isBestseller}}`) special = `<span class="badge badge-warning" style="font-size: 18px; padding: 5px 10px;">Bestseller</span>`;
                else if (`{{this.isNewest}}`) special = `<span class="badge badge-success" style="font-size: 18px; padding: 5px 10px;">Newest</span>`;

            courses.push(`<div class="col-lg-6 course_col">
                    <div class="course">
                        <div class="course_image"><a href="/courses/{{this._id}}"><img style="width: 345px;" src="{{this.thumbnail}}" alt=""></a></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/courses/{{this._id}}">{{this.name}}</a></h3>
                            <div class="course_teacher">{{this.teacherName}}</div>
                            <div>${special}</div>
                            <div class="course_text">
                                <p>{{this.briefDes}}</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span id="info_{{@index}}">{{this.students}} Học viên</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>${sumRate} Rates</span>
                                </div>
                                <div class="course_price ml-auto">$${saleOffPrice}</div>
                            </div>
                        </div>
                    </div>
                </div>`);
            {{/each}}
            
        } else if (e.currentTarget.value == 'priceDes') {
            {{#each priceDes }}
                special = "";
                sumRate = 0;
                saleOffPrice = 0;
                {{#each this.rate}}
                    sumRate += {{this}};
                {{/each}}
                saleOffPrice = {{this.saleOff}} || {{this.price}};

                if ({{this.saleOff}}) {
                    saleOffPrice = saleOffPrice + `<span style="font-size:16px; margin-left:5px;">${{this.price}}</span>`;
                } else saleOffPrice = {{this.price}}

                if (`{{this.isBestseller}}`) special = `<span class="badge badge-warning" style="font-size: 18px; padding: 5px 10px;">Bestseller</span>`;
                else if (`{{this.isNewest}}`) special = `<span class="badge badge-success" style="font-size: 18px; padding: 5px 10px;">Newest</span>`;

            courses.push(`<div class="col-lg-6 course_col">
                    <div class="course">
                        <div class="course_image"><a href="/courses/{{this._id}}"><img style="width: 345px;" src="{{this.thumbnail}}" alt=""></a></div>
                        <div class="course_body">
                            <h3 class="course_title"><a href="/courses/{{this._id}}">{{this.name}}</a></h3>
                            <div class="course_teacher">{{this.teacherName}}</div>
                            <div>${special}</div>
                            <div class="course_text">
                                <p>{{this.briefDes}}</p>
                            </div>
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span id="info_{{@index}}">{{this.students}} Học viên</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>${sumRate} Rates</span>
                                </div>
                                <div class="course_price ml-auto">$${saleOffPrice}</div>
                            </div>
                        </div>
                    </div>
                </div>`);
            {{/each}}
        }
        console.log(courses);
        coursePerPage = 6;
        length = Math.ceil(courses.length / coursePerPage);
        $('#pagination_list').twbsPagination('destroy');
        $('#pagination_list').twbsPagination({
            totalPages: length,
            visiblePages: 5,
            first: 'Trang đầu',
            prev: 'Trước',
            next: 'Sau',
            last: 'Trang cuối',
            onPageClick: function (event, page) {
                content = '';
                for (let i = (page - 1) * coursePerPage; i < courses.length && i < (page - 1) * coursePerPage + coursePerPage; i++) {
                    content += courses[i];
                }
                $('.courses_row').html(content);
            }
        });
    });

    newCourses = "";
    {{#each newestCourses}}
        saleOffPrice = 0;
        
        saleOffPrice = {{this.saleOff}} || {{this.price}};
        if ({{this.saleOff}}) {
            saleOffPrice = saleOffPrice + `<span style="font-size:14px; margin-left:5px; text-decoration: line-through; color:#a5a5a5">${{this.price}}</span>`;
        } else saleOffPrice = {{this.price}}
        newCourses +=`<div class="latest d-flex flex-row align-items-start justify-content-start">
            <div class="latest_image">
                <div><a href="/courses/{{this._id}}"><img src="{{this.thumbnail}}" alt=""></a></div>
            </div>
            <div class="latest_content">
                <div class="latest_title"><a href="/courses/{{this._id}}">{{this.name}}</a></div>
                <span>{{this.category}}</span>
                <div class="latest_price">$${saleOffPrice}</div>
            </div>
        </div>`
    {{/each}}

    $('.newestCourses').html(newCourses);
    newCourses = "";
    {{#each mostCourses}}
        saleOffPrice = 0;
        saleOffPrice = {{this.saleOff}} || {{this.price}};
        if ({{this.saleOff}}) {
            saleOffPrice = saleOffPrice + `<span style="font-size:14px; margin-left:5px; text-decoration: line-through; color:#a5a5a5">${{this.price}}</span>`;
        } else saleOffPrice = {{this.price}}
        newCourses +=`<div class="latest d-flex flex-row align-items-start justify-content-start">
            <div class="latest_image">
                <div><a href="/courses/{{this._id}}"><img src="{{this.thumbnail}}" alt=""></a></div>
            </div>
            <div class="latest_content">
                <div class="latest_title"><a href="/courses/{{this._id}}">{{this.name}}</a></div>
                <span>{{this.category}}</span>
                <div class="latest_price">$${saleOffPrice}</div>
            </div>
        </div>`
    {{/each}}

    $('.mostCourses').html(newCourses)
</script>
{{/section}}