<!DOCTYPE html>
<html lang="en">

<head>
    <title>Unicat</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Unicat project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .btn:focus {
            box-shadow: none !important;
            outline: none !important
        }
        .dropdown-item.active, .dropdown-item:active {
            background-color: #e9ecef !important;
        }
    </style>
    {{{_sections.jsHead}}}
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    {{{_sections.css}}}
    
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">

            <!-- Top Bar -->
            <div class="top_bar">
                <div class="top_bar_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
                                    <ul class="top_bar_contact_list">
                                        <li>
                                            <div class="question">Liên hệ với chúng tôi?</div>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <div>001-1234-88888</div>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <div>info.deercreative@gmail.com</div>
                                        </li>
                                    </ul>
                                    <div class="top_bar_login ml-auto row">
                                        {{#if session.user}}
                                        {{#ifEquals session.user.userType "Admin"}}
                                            <div class="login_button" style="margin-right: 10px;"><a href="/admin"><i class="fas fa-user" style="margin-right: 10px;"></i>Admin</a></div>
                                        {{else}}
                                            <div class="login_button" style="margin-right: 10px;"><a href="/profile"><i class="fas fa-user" style="margin-right: 10px;"></i>{{session.user.name}}</a></div>
                                        {{/ifEquals}}
                                        <div class="login_button" style="margin-right: 10px;"><a href="/logout"><i class="fas fa-sign-out-alt" style="margin-right: 10px;"></i></a></div>
                                        {{else}}
                                        <div class="login_button" style="margin-right: 30px;"><a href="/register"><i class="fas fa-user-plus" style="margin-right: 10px;"></i>Đăng ký</a></div>
                                        <div class="login_button" style="margin-right: 10px;"><a href="/login"><i class="fas fa-lock" style="margin-right: 10px;"></i>Đăng nhập</a></div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Content -->
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo_container">
                                    <a href="/">
                                        <div class="logo_text">Unic<span>at</span></div>
                                    </a>
                                </div>
                                
                                <nav class="main_nav_contaner ml-auto">
                                    {{#ifEquals session.user.userType "Admin"}}
                                    <ul class="main_nav">
                                        <li id="home"><a href="/">Trang chủ</a></li>
                                        <li id="categoryManagement"><a href="/admin/categoryManagement">Quản lý lĩnh vực</a></li>
                                        <li id="courseManagement"><a href="/admin/courseManagement">Quản lý khoá học</a></li>
                                        <li id="userManagement"><a href="/admin/userManagement">Quản lý người dùng</a></li>
                                    </ul>
                                    <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    {{else}}
                                    <ul class="main_nav">
                                        <li id="home"><a href="/">Trang chủ</a></li>
                                        <li id="courses"><a href="/courses">Khóa học</a></li>
                                        <li class="dropdown" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <a href="/contact" onclick="return false;">Lĩnh vực</a>
                                        </li>
                                        <div class="dropdown-menu" aria-labelledby="categories">
                                            {{#each session.categories}}
                                            <a class="dropdown-item font-weight-bold" href="/category/{{this.name}}">{{this.name}}</a>
                                            {{#if this.subCategory}} {{#each this.subCategory}}
                                            <a class="dropdown-item pl-5" href="/category/{{this.name}}">{{this.name}}</a>
                                            {{/each}} {{/if}}
                                            {{/each}}
                                        </div>
                                        <li id="about"><a href="/about">Về chúng tôi</a></li>
                                    </ul>
                                    <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                                    {{/ifEquals}}
                                    <!-- Hamburger -->

                                    
                                    <div class="btn-group">
                                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="shopping_cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right cart" style="box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 1px 1px; margin-top: 25px; border-top: none;"></div>
                                    </div>
                                    <div class="hamburger menu_mm">
                                        <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Search Panel -->
            <div class="header_search_container">
                <div class="container">
                    <form class="row" action="/courses/search" method="post">
                        <div class="col d-flex justify-content-end align-items-center" style="height: 73px;">
                            <input type="text" name="keyword" class="home_search_input" placeholder="Tìm kiếm..." required>
                            <select name="category" id="categorySearch" class="home_search_input home_search_option">
                                <option value="null" selected="selected">Lựa chọn lĩnh vực</option>
                                {{#each session.categories}}
                                <option value="{{this.name}}" class="parent">{{this.name}}</option>
                                {{#if this.subCategory}} {{#each this.subCategory}}
                                <option value="{{this.name}}">&nbsp;&nbsp;&nbsp;{{this.name}}</option>
                                {{/each}} {{/if}}
                                {{/each}}
                            </select>
                            <button type="submit" class="home_search_button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <!-- Menu -->

        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            <div class="menu_close_container">
                <div class="menu_close">
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="search">
                <form action="/courses/search" method="post" class="header_search_form menu_mm">
                    <input type="search" name="keyword" class="search_input menu_mm" placeholder="Tìm kiếm..." required="required">
                    <select name="category" id="categorySearch" class="category_input menu_mm">
                            <option value="null" selected="selected">Lựa chọn lĩnh vực</option>
                            {{#each session.categories}}
                            <option value="{{this.name}}" class="parent">{{this.name}}</option>
                            {{#if this.subCategory}} {{#each this.subCategory}}
                            <option value="{{this.name}}">&nbsp;&nbsp;&nbsp;{{this.name}}</option>
                            {{/each}} {{/if}}
                            {{/each}}
                        </select>
                    <button type="submit" class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
                        <i class="fa fa-search menu_mm" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
            <nav class="menu_nav">
                <ul class="menu_mm">
                    {{#ifEquals session.user.userType "Admin"}}
                    <ul class="main_nav">
                        <li class="menu_mm" id="home"><a href="/">Trang chủ</a></li>
                        <li class="menu_mm" id="categoryManagement"><a href="/admin/categoryManagement">Quản lý lĩnh vực</a></li>
                        <li class="menu_mm" id="courseManagement"><a href="/admin/courseManagement">Quản lý khoá học</a></li>
                        <li class="menu_mm" id="userManagement"><a href="/admin/userManagement">Quản lý người dùng</a></li>
                    </ul>
                    <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div>
                    {{else}}
                    <li class="menu_mm" id="home"><a href="/">Trang chủ</a></li>
                    <li class="menu_mm" id="courses"><a href="/courses">Khóa học</a></li>
                    <li class="menu_mm">
                        <a href="#categoriesMenu" data-toggle="collapse" aria-expanded="false" class="menu_mm">Lĩnh vực <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="collapse list-unstyled" id="categoriesMenu">
                            {{#each session.categories}}
                            <a class="dropdown-item" href="/category/{{this.name}}">{{this.name}} <i class="fa fa-angle-left" aria-hidden="true"></i></a>
                            {{#if this.subCategory}} {{#each this.subCategory}}
                            <a class="dropdown-item pr-5" href="/category/{{this.name}}">{{this.name}} <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
                            {{/each}} {{/if}}
                            {{/each}}
                        </ul>
                    </li>
                    <li class="menu_mm" id="about"><a href="/about">Về chúng tôi</a></li>
                    {{/ifEquals}}
                </ul>
            </nav>
        </div>

        <div class="body_container">
            {{{body}}}
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="footer_background" style="background-image:url(/images/footer_background.png)"></div>
            <div class="container">
                <div class="row footer_row">
                    <div class="col">
                        <div class="footer_content">
                            <div class="row">

                                <div class="col-lg-3 footer_col">

                                    <!-- Footer About -->
                                    <div class="footer_section footer_about">
                                        <div class="footer_logo_container">
                                            <a href="#">
                                                <div class="footer_logo_text">Unic<span>at</span></div>
                                            </a>
                                        </div>
                                        <div class="footer_about_text">
                                            <p>Website cung cấp khóa học hàng đầu Việt Nam.</p>
                                        </div>
                                        <div class="footer_social">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 footer_col">

                                    <!-- Footer Contact -->
                                    <div class="footer_section footer_contact">
                                        <div class="footer_title">Liên hệ</div>
                                        <div class="footer_contact_info">
                                            <ul>
                                                <li>Email: Info.deercreative@gmail.com</li>
                                                <li>Điện thoại: +(88) 111 555 666</li>
                                                <li>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 footer_col">

                                    <!-- Footer links -->
                                    <div class="footer_section footer_links">
                                        <div class="footer_title">Liên hệ</div>
                                        <div class="footer_links_container">
                                            <ul>
                                                <li><a href="/">Trang chủ</a></li>
                                                <li><a href="/about">Về chúng tôi</a></li>
                                                <li><a href="/contact">Liên hệ</a></li>
                                                <li><a href="#">Tính năng</a></li>
                                                <li><a href="/courses">Khóa học</a></li>
                                                <li><a href="#">Sự kiện</a></li>
                                                <li><a href="#">Bộ sưu tập</a></li>
                                                <li><a href="#">FAQs</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-3 footer_col clearfix">

                                    <!-- Footer links -->
                                    <div class="footer_section footer_mobile">
                                        <div class="footer_title">Các nền tảng</div>
                                        <div class="footer_mobile_content">
                                            <div class="footer_image"><a href="#"><img src="/images/mobile_1.png" alt=""></a></div>
                                            <div class="footer_image"><a href="#"><img src="/images/mobile_2.png" alt=""></a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row copyright_row">
                    <div class="col">
                        <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
                            <div class="cr_text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                    href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="ml-lg-auto cr_links">
                                <ul class="cr_list">
                                    <li><a href="#">Copyright notification</a></li>
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/plugins/greensock/TweenMax.min.js"></script>
    <script src="/plugins/greensock/TimelineMax.min.js"></script>
    <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="/plugins/greensock/animation.gsap.min.js"></script>
    <script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="/plugins/easing/easing.js"></script>
    <script src="/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.js"
        integrity="sha512-uzuo1GprrBscZGr+iQSv8+YQQsKY+rSHJju0FruVsGHV2CZNZPymW/4RkxoHxAxw3Lo5UQaxDMF8zINUfAsGeg==" crossorigin="anonymous"></script>
    <script>
        {{#if isHome }}
        $('#home').addClass('active');
        {{else if isAbout}}
        $('#about').addClass('active');
        {{else if isContact}}
        $('#contact').addClass('active');
        {{else if isCourses}}
        $('#courses').addClass('active');
        {{else if isCategories}}
        $('#categories').addClass('active');
        {{else if isCategoryManagement}}
        $('#categoryManagement').addClass('active');
        {{else if isCourseManagement}}
        $('#courseManagement').addClass('active');
        {{else if isUserManagement}}
        $('#userManagement').addClass('active');
        {{/if}}

        let cart = '';
        let total_price = 0;
        let price = 0;
        $('.cart').html('<p style="text-align: center;">Giỏ hàng đang trống</p>');
        
        if (`{{session.coursesInCart}}`) {
            {{#each session.coursesInCart}}
            price = {{this.saleOff}} || {{this.price}};
            cart += `<a href="/courses/{{this._id}}">
                <button class="dropdown-item" type="button" style="outline: none;">
                    <div class="col-12" style="display:flex; padding-left:0px !important; padding-right: 40px;">
                        <img class="col-3" style="padding-left:0px; padding-right:0px; padding-right:0px; width: 100px !important; max-width: none !important;" src="{{this.thumbnail}}" alt="">
                        <div class="col-9" style="display: block;">
                            <h5 style="margin-bottom: 0px !important;">{{this.name}}</h5>
                            <p style="color:#17a2b8">Giá : $${price}</p>
                        </div>
                    </div>
                </button>
            </a>`
            total_price += price;
            {{/each}}
            cart += `<p class="total_price">Tổng tiền: $${total_price}</p>`
            cart += `<button class="dropdown-item btn btn-danger mx-auto col-4 text-center pay" type="button" style="background-color: #bd2130; color: #fff; padding: 7px 7px;">Thanh toán</button>`;
            $('.cart').html(cart);
        } else {
            $('.cart').html('<p style="text-align: center;">Giỏ hàng đang trống</p>');
        }

        $('.pay').click(function() {
            {{#if session.user}} 
            swal({
                title: "Bạn có chắc muốn đăng ký tất cả các khóa học giỏ?",
                text: `Tổng số tiền của các khóa học trong giỏ là $${total_price}!`,
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((accept) => {
                if (accept) {
                    window.location = '/courses/registerAllCourses';
                }
            });
            {{else}}
            window.location = '/login';
            {{/if}}
        })

    </script>
    {{{_sections.js}}}
</body>

</html>