<!-- Best seller in week -->

<div class="bestseller" id="bestseller">
    <div class="bestseller_slider_container">
        <!-- Best seller Slider -->
        <div class="owl-carousel owl-theme bestseller_slider">
            {{#each bestSeller}}
            <!-- Best seller Slider Item -->
            <div class="owl-item">
                <h1 class="bestseller_title">BEST SELLER</h1>
                <div class="bestseller_slider_background" style="background-image:url({{this.thumbnail}})"></div>
                <div class="bestseller_slider_content">
                    <div class="container d-flex flex-column justify-content-center">
                        <div class="row">
                                <div class="col-md-6 col-12 bestseller_slider_title">{{this.name}}</div>
                        </div>
                        <div class="row">
                                <div class="col-md-4 col-12 bestseller_slider_subtitle">{{this.briefDes}}</div>
                        </div>
                        <div class="row">
                            <div class="bestseller_slider_button mt-3">
                                <a class="text-reset" href="courses/{{this._id}}"><button type="button" class="btn view_bestseller">Xem thêm</button></a>
                                <button type="button" class="btn preview_bestseller"><div>Xem Trước</div><i class="fa fa-play-circle" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- Best seller Slider Nav -->

    <div class="bestseller_slider_nav bestseller_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="bestseller_slider_nav bestseller_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<!-- Features -->

<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Chào mừng đến với Website học trực tuyến Unicat</h2>
                    <div class="section_subtitle">
                        <p>Chúng tôi cung cấp môi trường kết nối các học sinh và giáo viên để cung cấp các khóa học trực tuyến một các hiệu quả</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row features_row">
            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <a href="#bestseller" class="text-reset">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="/images/icon_1.png" alt=""></div>
                        <h3 class="feature_title">Khóa học bán chạy</h3>
                        <div class="feature_text">
                            <p>Các khóa học bán chạy nhất trong tuần qua</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <a href="#bestSellerCategory" class="text-reset">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="/images/icon_2.png" alt=""></div>
                        <h3 class="feature_title">Lĩnh vực nổi bật</h3>
                        <div class="feature_text">
                            <p>Các lĩnh vực có khóa học được đăng ký nhiều trong tuần qua</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <a href="#_mostViewCourse" class="text-reset">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="/images/icon_3.png" alt=""></div>
                        <h3 class="feature_title">Khóa học nổi bật</h3>
                        <div class="feature_text">
                            <p>Các khóa học có số lượt xem nhiều nhất</p>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Features Item -->
            <div class="col-lg-3 feature_col">
                <a href="#_newestCourse" class="text-reset">
                    <div class="feature text-center trans_400">
                        <div class="feature_icon"><img src="/images/icon_4.png" alt=""></div>
                        <h3 class="feature_title">Khóa học mới nhất</h3>
                        <div class="feature_text">
                            <p>Các khóa học mới được đăng tải</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Counter -->

<div id="bestSellerCategory" class="counter">
    <div class="counter_background" style="background-image:url(/images/category_counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter_content">
                    <h2 class="counter_title">Các lĩnh vực nổi bật</h2>
                    <div class="counter_text">
                        <p>Các lĩnh vực được đăng ký nhiều nhất trong tuần qua.</p>
                    </div>

                    <!-- Category -->

                    <div class="categories d-flex flex-md-row flex-column align-items-center justify-content-between">
                        {{#each bestSellerCategories}}
                        <div class="category">
                            <div class="category_counter" data-end-value="{{this.soldInWeek}}">0</div>
                            <a href="/category/{{this.name}}"><div class="category_text">{{this.name}}</div></a>
                        </div>
                        {{/each}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Newest Courses -->

<div class="courses">
    <div id="_newestCourse" class="section_background parallax-window" data-parallax="scroll" data-image-src="/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Khóa học mới nhất</h2>
                    <div class="section_subtitle">
                        <p>Các khóa học mới được đăng tải</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            <div id="newestCourse" class="owl-carousel owl-theme">
            {{#each newestCourses}}
            <!-- Course -->
            <div class="course_col">
                <div class="courseCard">
                    <div class="course_image"><a href="courses/{{this._id}}"><img src="{{this.thumbnail}}" alt=""></a></div>
                    <div class="course_body">
                        <h4 class="course_title"><a href="courses/{{this._id}}">{{this.name}}</a></h4>
                        <span style="font-size: 12px;">Ngày đăng: {{formatTime this.createdDate "DD-MM-YYYY"}}</span>
                        <div class="course_teacher">{{#if this.teacher.name}}this.teacher.name{{else}}{{/if}}</div>
                        <div class="course_text">
                            <p>{{this.briefDes}}</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                            <div class="course_info">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <span>{{this.students}}</span>
                            </div>
                            <div class="course_info">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>5</span>
                            </div>
                            {{#ifEquals this.saleOff '0'}}
                            <div class="course_price ml-auto">${{this.price}}</div>
                            {{else}}
                            <div class="course_price ml-auto"><span>${{this.price}}</span>${{this.saleOff}}</div>
                            {{/ifEquals}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="courses">xem thêm</a></div>
            </div>
        </div>
    </div>
</div>

<!-- Counter -->

<div class="counter">
    <div class="counter_background" style="background-image:url(/images/counter_background.jpg)"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Tham gia cùng chúng tôi</h2>
                    <div class="counter_text">
                        <p>Cùng nhau phát triển và học tập một cách hiệu quả hơn.</p>
                    </div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="{{counter.courses}}">0</div>
                            <div class="milestone_text">khóa học</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="{{counter.student}}">0</div>
                            <div class="milestone_text">học sinh</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="{{counter.teacher}}">0</div>
                            <div class="milestone_text">giáo viên</div>
                        </div>

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="3">0</div>
                            <div class="milestone_text">năm</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Most view Courses -->

<div class="courses">
    <div id="_mostViewCourse" class="section_background parallax-window" data-parallax="scroll" data-image-src="/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Khóa học nổi bật</h2>
                    <div class="section_subtitle">
                        <p>Các khóa học được xem nhiều nhất</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            <div id="mostViewCourse" class="owl-carousel owl-theme">
            {{#each mostViewCourse}}
            <!-- Course -->
            <div class="course_col">
                <div class="courseCard">
                    <div class="course_image"><a href="courses/{{this._id}}"><img src="{{this.thumbnail}}" alt=""></a></div>
                    <div class="course_body">
                        <h4 class="course_title"><a href="courses/{{this._id}}">{{this.name}}</a></h4>
                        <div class="course_teacher">{{#if this.teacher.name}}this.teacher.name{{else}}{{/if}}</div>
                        <div class="course_text">
                            <p>{{this.briefDes}}</p>
                        </div>
                    </div>
                    <div class="course_footer">
                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                            <div class="course_info">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>{{this.views}}</span>
                            </div>
                            <div class="course_info">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>5</span>
                            </div>
                            {{#ifEquals this.saleOff '0'}}
                            <div class="course_price ml-auto">${{this.price}}</div>
                            {{else}}
                            <div class="course_price ml-auto"><span>${{this.price}}</span>${{this.saleOff}}</div>
                            {{/ifEquals}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}</div>
        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="courses">xem thêm</a></div>
            </div>
        </div>
    </div>
</div>

{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/styles/home.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
{{/section}}