<div class="container-fluid mx-auto col-lg-10">
  <div class="row">
    <div class="col-lg-8">
      <div class="edit_menu_bar d-flex">
        <button class="btn menu-item post-bar active">
          <i class="fas fa-edit mr-1"></i>
          <span>Post</span>
        </button>
        <button class="btn menu-item thumbnail-bar">
          <i class="fas fa-image mr-1"></i>
          <span>Image</span>
        </button>
        <button class="btn menu-item video-bar">
          <i class="fas fa-video mr-1"></i>
          <span>Video</span>
        </button>
        <button class="btn menu-item category-bar">
          <i class="fas fa-list-ul mr-1"></i>
          <span>Category</span>
        </button>
      </div>
    </div>
  </div>
</div>
<form action="/course/update/{{course._id}}" method="POST" class="form col-lg-10 mx-auto" enctype="multipart/form-data">
  <div class="edit h-100 w-100">
    <div class="edit_chapter_container">
      <div class="container-fluid mx-auto">
        <div class="row row-content post-row">
          <div class="col-lg-8">
            <div class="edit_form">
              <div>
                <input type="text" class="comment_input" placeholder="Tên khóa học" name="name" value="{{course.name}}" required="required">
              </div>
              <div>
                <input type="text" class="comment_input" placeholder="Mô tả ngắn" name="briefDes" value="{{course.briefDes}}" required="required">
              </div>
              <div>
                <input type="text" class="comment_input" placeholder="Yêu cầu" name="require" value="{{course.require}}" required="required">
              </div>
              <div>
                <input type="text" class="comment_input" placeholder="Mục tiêu" name="purpose" value="{{course.purpose}}" required="required">
              </div>
              <div>
                <div class="form_title">Mô tả chi tiết</div>
                <textarea id="descEditor" name="description">{{course.description}}</textarea>
              </div>

              <div class="form-group">
                <label class="form_title" for="category">Lĩnh vực:</label>
                <div class="form-control" id="category">{{course.category}}</div>
              </div>

              <div>
                <div class="form_title">Giá hiện tại</div>
                <input type="number" class="comment_input" name="price" min="0" value="{{course.price}}" required="required">
              </div>

              <div>
                <div class="form_title">Tỉ lệ giảm giá</div>
                <div class="number d-flex justify-content-center align-items-center">
                  <div class="btn btn-outline-secondary minus-sale-off"><i class="fas fa-minus"></i></div>
                  <input type="number" class="comment_input" name="saleOff" id="saleOff" min="0" max="100" value="0">
                  <div class="btn btn-outline-secondary plus-sale-off"><i class="fas fa-plus"></i></div>
                </div>
                <input type="range" id="points-sale-off" min="0" max="100" class="w-100" value="0">
              </div>
            </div>
          </div>
        </div>
        <div class="row row-content thumbnail-row" style="display: none;">
          <div class="col-lg-8 text-center">

            {{!-- Ảnh đại diện khóa học --}}
            <div class="course_thumbnail">
              <div class="edit_chapter_title">Ảnh đại diện của khóa học</div>
              <div class="thumbnail_box d-flex w-100 justify-content-center">
                <div class="file-loading">
                  <input id="thumbnail" name="thumbnail" type="file" class="mt-1">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-content video-row" style="display: none;">
          <div class="col-lg-8">
            <div class="upvideo">
              <div class="edit_chapter_title">
                <div class="d-flex justify-content-between">
                  <div class="">Sửa nội dung các chương hiện tại</div>
                </div>
              </div>

              <div class="chapter_title form_title">
                <div id="chapter_box_current">
                  {{!-- Thêm ô input tên mỗi chương ở đây --}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-content category-row" style="display: none;">
          <div class="col-lg-8">
            <div class="upvideo">
              <div class="edit_chapter_title">
                <div class="d-flex justify-content-between flex-wrap">
                  <div class="">Thêm chương mới</div>
                  <div class="d-flex">
                    <div class="btn btn-danger rm-chapters mr-1"><i class="far fa-trash-alt"></i></div>
                    <div class="btn btn-success btn-add-chapter d-flex"><i class="fa fa-plus align-self-center"
                        aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
                
              <div class="chapter_title form_title">
                <div id="chapter_box">
                  {{!-- Thêm ô input tên mỗi chương ở đây --}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between col-lg-8">
          <div class="d-flex flex-column">
            <input type="checkbox" name="isFinished" id="cbProgress" style="display: none;" {{#if course.isFinished}}checked{{/if}}>
            <button type="button" class="btn btn-footer btn-progress font-weight-bold"><i class="fas fa-minus btn-prog-icon mr-1"></i>Tiến độ</button>
          </div>
          <div><button type="submit" class="btn btn-footer btn-submit-course font-weight-bold">Cập nhập</button></div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="overlay-fade"></div>
<div class="loading">
  <div class="canvas canvas4">
    <div class="spinner4"></div>
  </div>
  <h4 class="text-center">Đang đăng tải...</h4>
</div>

{{#section 'css'}}
<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
<link rel="stylesheet" type="text/css" href="/styles/contact.css">
<link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/css/fileinput.min.css">
<link rel="stylesheet" type="text/css" href="/styles/edit_course.css">

{{/section}}

{{#section 'jsHead'}}
<script src='https://cdn.tiny.cloud/1/zkbs0drivq1btxfqv1gxw0h4ci8re203rj131aojg9mu74y2/tinymce/5/tinymce.min.js'
  referrerpolicy="origin">
  </script>
<script>
  tinymce.init({
    selector: '#descEditor',
    height: 450,
    plugins: 'paste link autolink lists table',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
{{/section}}

{{#section 'js'}}
<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/themes/fas/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/locales/vi.min.js"></script>

<script>
  $('form').submit(() => {
    $('.overlay-fade').show();
    $('.loading').show();
  })

  $("#thumbnail").fileinput({
    theme: "fas",
    showClose: false,
    showCaption: false,
    showBrowse: false,
    browseOnZoneClick: true,
    removeLabel: '',
    removeIcon: '<i class="fas fa-trash" aria-hidden="true"></i>',
    language: 'vi',
    msgErrorClass: 'alert alert-block alert-danger',
    layoutTemplates: { main2: '{preview} ' + ' {remove} {browse}' },
    allowedFileTypes: ["image"],
    initialPreviewFileType: 'image',
    initialPreview: '<img src="{{course.thumbnail}}" alt="thumbnail" class="kv-preview-data file-preview-image">',
  }).hide();

  {{#each course.chapters}}
  $('#chapter_box_current').append(`
    <div class="new-chapter {{#inc @index}}{{/inc}}">
      <div class="video-content">
        <div class="chapter_title d-flex justify-content-between" style="font-size: 1.4rem;" title="Click ẩn/hiện video">
          <div class="chapter_label">Tên chương {{#inc @index}}{{/inc}}</div>
        </div>
        <input type="text" class="comment_input" name="chapter_title" value="{{this.title}}" required>
      </div>
      <div class="video-preview">
        <div class="d-flex justify-content-center">
          <video controls crossorigin playsinline class="js-player" id="video_chapter">
          <source src="{{this.video}}" type="video/mp4" />
          </video>
        </div>
      </div>
    </div>
    `)
  {{/each}}

  document.addEventListener('DOMContentLoaded', () => {
    $('.clearfix').css("margin", "0px")
      .parent().css({ "margin": "0px", "padding": "0px" })
    $('.input-group-btn.input-group-append').css("margin", "0px")
    $('#points-sale-off').val($('#saleOff').val())

    $('#points-sale-off').on('input', function() {
      $('#saleOff').val($(this).val());
    })
    $('.plus-sale-off').click(() => {
      if($('#saleOff').val() >= 100) return;
      $('#saleOff').val(Number($('#saleOff').val()) + 1)
      $('#points-sale-off').val($('#saleOff').val())
    })
    $('.minus-sale-off').click(() => {
      if($('#saleOff').val() <= 0) return;
      $('#saleOff').val($('#saleOff').val() - 1)
      $('#points-sale-off').val($('#saleOff').val())
    })
    $('#saleOff').change(function() {
      $('#points-sale-off').val($(this).val())
    })
  });

  const players = [];
  $('.js-player').each(function() {
    players.push(new Plyr(this))
  })

  $('.video-content').click(function(e) {
    if (e.target.className !== 'chapter_title d-flex justify-content-between') return;
    $(this).closest('.new-chapter').find('.video-preview').toggle("slow")
  })

  let _index_chapter = {{course.chapters.length}};

  $('.rm-chapters').click(() => {
    if (_index_chapter >= 20) {
      $('.btn-add-chapter').removeClass('btn-secondary');
      $('.btn-add-chapter').addClass('btn-success');
    }
    $('#chapter_box .new-chapter').remove()
    _index_chapter = {{course.chapters.length}};
  })


  $('.btn-add-chapter').click(() => {
    if (_index_chapter >= 20) {
      $('.btn-add-chapter').removeClass('btn-success');
      $('.btn-add-chapter').addClass('btn-secondary');
      return;
    }

    $('#chapter_box').append(`
    <div class="new-chapter">
      <div class="chapter_title d-flex justify-content-between" style="font-size: 1.4rem;">
        <div class="chapter_label">Tên chương ${++_index_chapter}</div>
        <div class="btn btn-danger btn-rm-chapter"><i class="fa fa-minus" aria-hidden="true"></i></div>
      </div>
      <input type="text" class="comment_input" name="chapter_title" required>
      <input name="chapter" type="file" class="video_chapter">
    </div>
  </div>`)

    $('.video_chapter').fileinput({
      theme: "fas",
      showBrowse: true,
      showRemove: false,
      showCaption: true,
      showUpload: false,
      showCancel: false,
      dropZoneEnabled: false,
      showPreview: false,
      allowedFileTypes: ["video"],
      language: 'vi'
    });

    $('.clearfix').css("margin", "0px")
      .parent().css({ "margin": "0px", "padding": "0px" })

    $('.input-group-btn.input-group-append').css("margin", "0px")

    $('#chapter_box .btn-rm-chapter').hide();
    $('#chapter_box .new-chapter:last-child')
      .find('.btn-rm-chapter').show();

    $('.btn-rm-chapter').click(function () {
      if (_index_chapter >= 20) {
        $('.btn-add-chapter').removeClass('btn-secondary');
        $('.btn-add-chapter').addClass('btn-success');
      }
      $(this).closest('.new-chapter').remove();
      _index_chapter = $('.new-chapter').length
      $('#chapter_box .btn-rm-chapter').hide();
      $('#chapter_box .new-chapter:last-child')
        .find('.btn-rm-chapter').show();
    })
  })
  $('.menu-item').click(function () {
    $('.menu-item').removeClass('active');
    $(this).addClass('active');
    $('.row-content').hide();
    if ($(this).hasClass('post-bar')) $('.post-row').show();
    if ($(this).hasClass('thumbnail-bar')) $('.thumbnail-row').show();
    if ($(this).hasClass('video-bar')) $('.video-row').show();
    if ($(this).hasClass('category-bar')) $('.category-row').show();
  })
  $('.category-item').click(function () {
    $('.category-item').css({
      "background-color": "",
      "color": "",
      "opacity": ""
    })
    $(this).css({
      "background-color": "#24A0ED",
      "color": "#fff",
      "opacity": "0.8"
    })
    $('#category').val($(this).html())
  })
  $('#category').keyup(() => {
    let input = $('#category').val().toUpperCase();
    $('.category-item').each(function () {
      if ($(this).html().toUpperCase().indexOf(input) > -1)
        $(this).show()
      else $(this).hide();
      if ($(this).html().toUpperCase() !== input)
        $(this).css({
          "background-color": "",
          "color": "",
          "opacity": ""
        })
    })
  })
  $('.btn-progress').click(function() {
    if ($(this).children('i').hasClass('fa-minus')) {
      $('.btn-prog-icon').removeClass('fa-minus');
      $('.btn-prog-icon').addClass('fa-check');
      $(this).css({
        "color": "#fff",
        "background-color": "rgb(255, 84, 91)",
        "border-color": "transparent"
      })
      $('#cbProgress').prop('checked', true);
    }
    else {
      $('.btn-prog-icon').removeClass('fa-check');
      $('.btn-prog-icon').addClass('fa-minus');
      $(this).css({
        "color": "",
        "background-color": "",
        "border-color": ""
      })
      $('#cbProgress').prop('checked', false);
    }
  })
  {{#if course.isFinished}}$('.btn-progress').trigger('click'){{/if}}
</script>
{{/section}}